:root {
    -webkit-touch-callout: none;
    -webkit-user-callout: none;
    -webkit-user-drag: none;
    -webkit-user-modify: none;
    -webkit-highlight: none;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --app-text: #F2F3F6;
    --app-link: #549fff;
    --app-100: #04081A;
    --app-200: #191A31;
    --app-300: #2B345A;
    --app-400: #3f476f;
    --app-500: #5d679c;
    --app-600: #757575;
    --app-700: #999;
    --app-800: #aaa;
    --app-900: #ccc;

    --app-accent: #6366f1;

    --app-accent-50: #7376ff;
    --app-accent-100: #6366f1;
    --app-accent-200: #4b4ecf;

    --app-blue: #3679f0;
    --app-red: #ee4d3c;
    --app-green: #4dca9a;
    --app-yellow: #fffc5c;
    --app-pink: #ff5bff;
    --app-purple: #895bff;
    --app-orange: #ff9b5b;
    --app-white: #fff;

    --app-dark-blue: #1e4d9e;
    --app-dark-red: #c33f33;
    --app-dark-green: #2c7e4b;
    --app-dark-yellow: #c7b200;
    --app-dark-pink: #c95bff;
    --app-dark-purple: #5f5bff;
    --app-dark-orange: #c86f33;

    --transition-function: cubic-bezier(0.4, 0, 0.2, 1);

    --nav-width: 80px;
    --nav-width-expanded: 300px;
    --content-width: 800px;

    --nav-height: 60px;

    --specular-highlight: -.5px -.5px 1px #ffffff52 inset, 1px 1px .5px #ffffff52 inset, 0 4px 24px #0000003d;
}

* {
    transition: background 0.2s var(--transition-function), color 0.2s var(--transition-function);
    scrollbar-width: none;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--app-100);
    color: var(--app-text);
    height: 100vh;
    overflow: hidden;

    user-select: none;
    -webkit-user-select: none;

    font-family: 'GG Sans', sans-serif;
}

a {
    color: var(--app-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

::placeholder {
    color: rgba(245, 245, 245, .6);
    opacity: 1;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

/* Start of Weather */

#app {
    display: flex;
    height: 100%;

    background-color: var(--background);
}

.sidebar {
    width: var(--nav-width-expanded, 200px);
    background-color: var(--app-200);
    border-right: 1px solid;
    border-color: rgba(0, 0, 0, 0.43);
    flex-shrink: 0;

    padding-top: var(--nav-height);
    box-sizing: border-box;
    overflow: hidden;
}

.sidebar .outer-sidebar {
    display: flex;
    flex-direction: column;
    width: var(--nav-width-expanded, 200px);
    padding-inline: 1rem;
    box-sizing: border-box;
}

.main {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    box-sizing: border-box;
}

.titlebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;

    opacity: 1;
    transition: opacity .8s var(--transition-function);
}

.titlebar .title {
    z-index: 1;
    font-size: 1;
    font-weight: 700;
    color: var(--app-text);
    text-shadow: 0 0 15px var(--app-100);

    opacity: 1;
    filter: blur(0px);
    transform: translateY(0px);

    user-select: none;
    -webkit-user-select: none;
    transition: opacity .4s var(--transition-function), filter .4s var(--transition-function), transform .4s var(--transition-function);
}

.titlebar.hide .title {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(10px);
}

.titlebar.transition {
    opacity: 0;
}

.content-outer {
    box-sizing: border-box;
    height: 100%;
    overflow: auto;

    transition: opacity 0.2s var(--transition-function);
}

.content-outer.out {
    opacity: 0;
}

.content {
    width: 100%;
    max-width: var(--content-width, 1000px);
    margin: 0 auto;
    padding: 1rem;
    padding-top: 80px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 3rem;
}

.temp-title {
    font-size: 6.25em;
    font-weight: 700;
    color: var(--app-text);
    z-index: 1;
    display: flex;
    align-items: flex-start;
    margin-bottom: -1rem;
    padding-right: 5px;
}

.place-title {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--app-text);
    z-index: 1;
    display: flex;
    align-items: flex-start;
}

.symbol {
    width: 0;
    display: inline-block;
}

.symbol.large {
    font-size: 0.75em;
}

.symbol.small {
    font-size: 0.6em;
}

.search-input {
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    height: 32px;
    background: var(--app-300);
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.search-input input {
    margin: 0;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
    border: none;
    background: transparent;
    caret-color: var(--brand-purple);
    color: var(--app-text);
    height: 100%;
    flex-grow: 1;
    font-family: inherit;
}

.search-input input::placeholder {
    color: #BEC7ED;
}

.search-input eui-icon {
    padding-right: 10px;
    color: rgba(245, 245, 245, .6);
    mix-blend-mode: plus-lighter;
}

.search-input label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: rgba(245, 245, 245, .6);
    mix-blend-mode: plus-lighter;
    pointer-events: none;
}

.search-input input:not(:placeholder-shown)+label {
    opacity: 0;
}

.plus {
    color: rgba(245, 245, 245, 0.6);
    mix-blend-mode: plus-lighter;
}

.sidebar-header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 1rem;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    width: var(--nav-width-expanded);
    height: var(--nav-height);
    z-index: 100;
}

.add-place-outer {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1rem;
    height: var(--nav-height);
    box-sizing: border-box;
    z-index: 4;

    display: flex;
    align-items: center;
    justify-content: center;
}

.places {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.15rem;
}

.place {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;

    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
}

.place.active {
    background-color: var(--app-300);
    border-radius: 8px;
}

.place-outer {
    display: flex;
    overflow: scroll;
    border-radius: 8px;

    animation: fade-in 0.3s var(--transition-function);

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.place-outer::-webkit-scrollbar {
    display: none;
}

.place-remove {
    background: var(--app-red);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    flex-shrink: 0;
    border-radius: 8px;
    margin-left: 5px;

    scroll-snap-align: start;
}

.place-remove:active {
    background-color: var(--app-dark-red);
}

.place .place-title {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--app-text);
    z-index: 1;
    display: flex;
    align-items: flex-start;
}

.place-temp-title {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--app-text);
    z-index: 1;
    display: flex;
    align-items: flex-start;
    flex: 1;
}

.place-time {
    font-size: 0.75rem;
    vertical-align: super;
    font-weight: 600;
}

.place-weather {
    font-size: 0.6rem;
    opacity: 0.4 !important;
    mix-blend-mode: plus-lighter;
    vertical-align: super;
    font-weight: 600;
}

.place-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.place-weather-outer {
    display: flex;
    align-items: center;
    gap: 5px;

    margin-top: auto
}

.place-temp {
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 100%;
}

.place-temp-high-low {
    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 0.75rem;
    opacity: 0.4 !important;
    mix-blend-mode: plus-lighter;
    vertical-align: super;
    font-weight: 600;
}

#weather-flavor {
    font-size: 2em;
    font-weight: 700;
}

#high-low {
    font-size: 1.25em;
    font-weight: 700;
    display: flex;
    gap: 8px;
}

.cards {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
}

.card {
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    grid-column: span 1;
    grid-row: span 1;
    aspect-ratio: 1 / 1;

    background: rgba(0, 0, 0, 0.158);
    backdrop-filter: blur(25px) saturate(1.5);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 15px;
    overflow: scroll;

    scrollbar-width: none;
}

.card::-webkit-scrollbar {
    display: none;
}

.card::-webkit-scrollbar-track {
    display: none;
}

.no-animation .card {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}

#forecast.card {
    aspect-ratio: unset;
    grid-column: span 3;
    grid-row: span 1;

    display: flex;
    flex-direction: row;
    justify-content: unset;
}

#week.card {
    grid-row: span 2;
    grid-column: span 2;
    aspect-ratio: unset;
    justify-content: space-between;
    align-items: unset;
}

#moon.card {
    grid-row: span 1;
    grid-column: span 2;
    aspect-ratio: unset;

    flex-direction: row;
    justify-content: space-around;
}

#moonCanvas {
    width: 80px;
    height: 80px;
}

.forecast-day {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 0.5rem;
    font-weight: 500;
    justify-content: space-between;
}

.forecast-day-temp {
    text-align: right;
}

.forecast-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
}

#forecast.card::-webkit-scrollbar,
#week.card::-webkit-scrollbar {
    display: none;
}

.forecast-hour {
    padding: 0px 6px;
    min-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.forecast-temp {
    font-size: 1.25em;
    font-weight: 700;
}

.forecast-time {
    font-weight: 600;
}

#placename-full {
    font-size: 1.15rem;
    font-weight: 700;
    margin: 0;
}

.card-value {
    font-weight: 700;
    font-size: 2.5rem;
}

.card-name {
    font-weight: 600;
    font-size: 1rem;
}

.card-unit {
    font-size: 0.8em;
    font-weight: 600;
}

.info-half {
    display: flex;
    flex-direction: column;
}

/* Background */

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    isolation: isolate;
    z-index: -1;
    background: var(--background);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    overflow: hidden;

    overflow: hidden;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--old-background);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s var(--transition-function);
}

.background.switching::before {
    transition: none;
    opacity: 1;
}

@keyframes anim {
    0% {
        top: 0;
        left: 25%;
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    75% {
        opacity: 0.25;
    }

    100% {
        opacity: 0;
        top: 0;
        left: -25%;
    }
}

#cloudy_div {
    opacity: 0.15;
    mix-blend-mode: soft-light;
    background-image: url("/images/clouds2.png");
    filter: saturate(0);
    image-rendering: pixelated;
    height: 115%;
    width: 100%;
    position: absolute;
    top: -43%;
    left: -25%;
    bottom: 0%;
    right: 0%;

    background-repeat: no-repeat;
    background-size: cover;

    /* display: none; */
}

.cloudy_anim_1 {
    animation: anim 15s linear infinite;
    animation-delay: -2s;
    transform: scale(1.5) rotate(180deg);
}

.cloudy_anim_2 {
    animation: anim 25s linear infinite;
    animation-delay: -12s;
    transform: scale(1.5);
}

.cloudy_anim_3 {
    animation: anim 35s linear infinite;
    animation-delay: -23s;
    transform: scale(1.74);
}

.no-animation #cloudy_div {
    animation: none;
    display: none;
}

/* Search Results */

.search-results {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    background-color: var(--app-300);
    border-radius: 12px;
    z-index: 100;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    transition: background .1s var(--transition-function);
}

.search-result-item {
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--app-100);
}

.search-result-item:last-child {
    border-bottom: none;
}

.search-result-item:hover,
.search-result-item.active {
    background-color: var(--app-400);
}

.search-result-item .place-name {
    font-weight: 700;
    color: var(--app-text);
}

.search-result-item .place-detail {
    font-size: 0.85em;
    color: #fff;
    opacity: .6;
    mix-blend-mode: plus-lighter;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.35rem;

    padding-top: 2rem;
    padding-bottom: 1rem;
    font-weight: 500;
}

.footer a {
    color: var(--app-text);
}

#provided {
    opacity: 0.8;
}

/* Collapsed Sidebar */

.sidebar {
    transition: width 0.3s var(--transition-function), padding 0.3s var(--transition-function), border 0.3s var(--transition-function), background 0.2s var(--transition-function), color 0.2s var(--transition-function);
}

#app.collapsed .sidebar {
    width: 0;
    padding-inline: 0;
    border-width: 0;
}

#app.collapsed .sidebar-header {
    width: auto;
}

#app.collapsed .sidebar * {
    pointer-events: none;
}

@media screen and (max-width: 600px) {
    #forecast.card {
        grid-column: span 2;
    }

    .cards {
        grid-template-columns: 1fr 1fr;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        height: 100%;
    }
}

/* Animations */

@keyframes fade-in {
    from {
        opacity: 0;
        filter: blur(4px);
    }

    to {
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
        filter: blur(0);
    }

    to {
        opacity: 0;
        filter: blur(4px);
        height: 0;
        margin: 0;
        padding: 0;
    }
}

.place-outer.fading-out {
    animation: fade-out 0.3s var(--transition-function) forwards;
    pointer-events: none;
}