/* :root {
    --app-modal-100: var(--app-100);
    --app-modal-200: var(--app-200);
    --app-modal-300: var(--app-300);
    --app-modal-400: var(--app-400);
    --app-modal-500: var(--app-500);
    --app-modal-600: var(--app-600);
    --app-modal-700: var(--app-700);
    --app-modal-800: var(--app-800);
    --app-modal-900: var(--app-900);
    --app-modal-text: var(--app-text);
} */

:root {
    --app-modal-100: #242424;
    --app-modal-200: #323232;
    --app-modal-300: #404040;
    --app-modal-400: #585858;
    --app-modal-500: #5f5f5f;
    --app-modal-600: #767676;
    --app-modal-700: #858585;
    --app-modal-800: #939393;
    --app-modal-900: #a1a1a1;
    --app-modal-text: var(--app-text);
}

.tinted {
    --tint-amount: 45%;

    --app-modal-100: color-mix(in srgb, var(--app-200) var(--tint-amount), #242424 100%);
    --app-modal-200: color-mix(in srgb, var(--app-200) var(--tint-amount), #323232 100%);
    --app-modal-300: color-mix(in srgb, var(--app-200) var(--tint-amount), #404040 100%);
    --app-modal-400: color-mix(in srgb, var(--app-200) var(--tint-amount), #585858 100%);
    --app-modal-500: color-mix(in srgb, var(--app-200) var(--tint-amount), #5f5f5f 100%);
    --app-modal-600: color-mix(in srgb, var(--app-200) var(--tint-amount), #767676 100%);
    --app-modal-700: color-mix(in srgb, var(--app-200) var(--tint-amount), #858585 100%);
    --app-modal-800: color-mix(in srgb, var(--app-200) var(--tint-amount), #939393 100%);
    --app-modal-900: color-mix(in srgb, var(--app-200) var(--tint-amount), #a1a1a1 100%);
}

/* Modals */

.modal-outer {
    visibility: hidden;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: background 0.2s cubic-bezier(.2, 0, 0, 1);
}

.modal-outer.open {
    background-color: rgba(0, 0, 0, 0.8);
    visibility: visible;
}

.modal {
    background: var(--app-modal-100);
    color: var(--app-modal-text);

    width: 100%;
    max-width: 500px;
    height: 85%;
    align-self: end;
    border-radius: 0;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-bottom: 50px;
    opacity: 1;
    overflow: hidden;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    transform: translateY(100%);
    transform-origin: bottom;
    /* transition: transform cubic-bezier(0.68, 0.1, 0.27, 1) 0.4s; */
    transition: transform cubic-bezier(0.25, 1, 0.5, 1) 0.4s;
}

.fill.modal {
    height: 100%;
    border-radius: 0;
    padding-top: env(safe-area-inset-top);
}

.modal-outer.open .modal {
    transform: translateY(0);
}

.alert-outer.open~.modal-outer.open .modal {
    transform: scale(0.95);
}

.modal-options {
    display: flex;
    justify-content: end;
    gap: 8px;
    padding: 5px 20px;
}

.modal-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    gap: 10px;
    overflow: auto;
    margin-bottom: auto;
    padding: 20px;

    scrollbar-width: none;
}

.modal-header {
    font-size: 2em;
    font-weight: 600;
    text-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    background: transparent;
    border-bottom: 3px solid var(--app-modal-300);
    width: 100%;
    min-height: 1lh;
    gap: 8px;
    display: flex;
    align-items: baseline;
}

.modal-button {
    background: var(--app-modal-300);
    color: var(--app-modal-text);
    border-radius: 100px;
    border: none;
    min-width: 100px;
    padding: 8px 20px;
    box-sizing: border-box;
    font-size: 1.05em;
    font-weight: 500;
    font-family: 'GG Sans';
    transition: background 0.2s cubic-bezier(.2, 0, 0, 1)
}

.modal-button:active {
    background-color: var(--app-modal-200);
}

.modal-body {
    display: flex;
    flex-direction: column;
    /* min-height: 100%; */
}

.modal-subheader {
    margin: 0;
    font-weight: 600;
    opacity: 0.7;
}

.modal::after {
    content: '';
    position: absolute;
    top: 4px;
    left: calc(50% - 16px);
    width: 32px;
    height: 4px;
    background: #ffffff5c;
    border-radius: 100px;
}

.fill.modal::after {
    top: calc(4px + env(safe-area-inset-top));
}

.modal-section {
    display: flex;
    flex-direction: column;
    background: var(--app-modal-300);
    padding: 15px;
    border-radius: 20px;
    margin-top: 10px;
    max-height: 85px;
    overflow: auto;
    scrollbar-width: none;
}

.modal hr {
    background: var(--app-modal-400);
    height: 2px;
    border-radius: 100px;
    width: calc(100% - 25px);
    border: none;
}

@media only screen and (min-width: 600px) {
    .modal::after {
        content: '';
        position: absolute;
        top: 4px;
        left: calc(50% - 16px);
        width: 32px;
        height: 4px;
        background: var(--app-modal-400);
        border-radius: 100px;
    }

    .modal {
        width: 70%;
        max-width: 700px;
        height: 60%;
        min-height: 600px;
        align-self: center;
        background: var(--app-modal-100);
        border: 3px solid var(--app-modal-200);
        /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); */
        color: var(--app-modal-text);
        border-radius: 30px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        transform: scale(0.8);
        transform-origin: center;
        opacity: 0;
        overflow: hidden;
        transition: transform cubic-bezier(0, -.25, 0, 1.5) 0.2s, opacity cubic-bezier(0, -.25, 0, 1) 0.2s;

        padding-bottom: 0;
    }

    .modal.small {
        min-height: 0px;
        max-width: 420px;
        max-height: 400px;
    }

    .modal.post-modal {
        max-width: 600px;
        min-height: 240px;
        height: auto;
    }

    .modal-outer.open .modal {
        transform: translateY(0);
        opacity: 1;
    }

    .modal-options {
        display: flex;
        justify-content: end;
        gap: 8px;
        padding: 20px;
    }

    .alert-outer.open~.modal-outer.open .modal {
        transform: scale(0.9);
    }
}

.modal-close {
    position: absolute;
    top: 0rem;
    right: 0rem;
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    color: var(--color-light);
    border: none;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: inherit;
    font-weight: 600;
}

/* Alert */

.alert-outer {
    visibility: hidden;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: background 0.2s cubic-bezier(.2, 0, 0, 1);
}

.alert-outer.open {
    background-color: rgba(0, 0, 0, 0.8);
    visibility: visible;
}

.alert {
    background: var(--app-modal-100);
    border: 3px solid var(--app-modal-200);
    color: var(--app-modal-text);
    width: 80%;
    max-width: 360px;
    align-self: center;
    border-radius: 40px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transform: scale(0.8);
    opacity: 0;
    /* transition: transform cubic-bezier(0.68, 0.1, 0.27, 1) 0.3s, opacity cubic-bezier(0.68, 0.1, 0.27, 1) 0.3s; */
    transition: transform cubic-bezier(0, -.25, 0, 1.5) 0.2s, opacity cubic-bezier(0, -.25, 0, 1) 0.2s;
}

.alert-outer.open .alert {
    transform: scale(1);
    opacity: 1;
}

.alert-options {
    display: flex;
    gap: 8px;
    padding: 20px;
    justify-content: end;
}

.alert-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    gap: 10px;
    overflow: auto;
    margin-bottom: auto;
    padding: 20px;
    padding-bottom: 0;

    scrollbar-width: none;
}

.alert-header {
    font-size: 1.6em;
    font-weight: 600;
}

.center .alert-header {
    text-align: center;
}

.center .alert-message {
    display: flex;
    justify-content: center;
    text-align: center;

    text-wrap: balance;
}

.center .alert-options {
    justify-content: center;
    flex-direction: column;
}

.center .modal-button {
    width: 100%;
}

.center .alert-inner {
    padding-bottom: 0;
}

.alert-input {
    padding: 0.5rem;
    border: 2px solid var(--app-modal-200);
    border-radius: 12px;
    font-size: 1em;
    font-family: inherit;
    font-weight: 400;
    color: var(--app-modal-text);
    background-color: var(--app-modal-100);
    box-sizing: border-box;
    width: 100%;
    transition: border-color 0.3s;
    outline: none;
    font-family: inherit;
}

/* Tooltip */

.tooltip {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(calc(-100% + -20px));
    font-size: 0.75em;
    font-weight: 600;
    padding: 5px 8px;
    min-width: 100px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    visibility: hidden;
    background: var(--app-modal-100);
    border: 2px solid var(--app-modal-200);
    border-radius: 100px;
    z-index: 1000;
    box-shadow: 0 2px 8px #00000094;
    transition: transform cubic-bezier(0.68, 0.1, 0.27, 1) 0.3s;
}

.tooltip.visible {
    transform: translateX(-50%) translateY(calc(20px + env(safe-area-inset-top)));
}

.tooltip div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
}

.tooltip div svg {
    width: 100%;
    height: 100%;
}

/* Superellipse */

@supports (corner-shape: superellipse(2)) {

    .alert,
    .modal {
        corner-shape: superellipse(1.5);
        border-radius: 50px;
    }
}

/* Settings */

.unit-toggle {
    display: flex;
    flex-wrap: nowrap;
    border: 2px solid var(--app-modal-600);
    border-radius: 15px;
    overflow: hidden;
    margin: 10px 0;
}

.unit-toggle-button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    transition: background 0.2s cubic-bezier(.2, 0, 0, 1), color 0.2s cubic-bezier(.2, 0, 0, 1), font-weight 0.2s cubic-bezier(.2, 0, 0, 1);
}

.unit-toggle-button:not(:first-child):not(:last-child) {
    border-left: 2px solid var(--app-modal-600);
    border-right: 2px solid var(--app-modal-600);
}

.unit-toggle-button.enabled {
    background-color: var(--app-modal-600);
    color: var(--app-modal-text);
    font-weight: 600;
}

.setting {
    padding: 10px 10px 10px 15px;
    font-weight: 600;
    background: var(--app-modal-300);
    border-radius: 15px;
    margin: 10px 0;
}

.setting>label {
    display: flex;
    align-items: center;
}

.setting-label {
    flex-grow: 1;
}